/*
    Estilos globales
*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-image: url('/bg-grill.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    font-size: 62.5%;
}

@media (min-width: 960px) {
    html, 
    body {
        background-color: #222;
    }
}

/* Clases globales */
.hide {
    display: none;
}

.show {
    display: block;
}

#bg_video {
    position: fixed;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.mask {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}



@media (min-width: 960px) {
    .main {
        position: fixed;
        z-index: 2;
    }
}

.contenedor-fixed {
    padding: 2.5rem;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.contenedor-centrado {
    width: 80vw;
    max-width: 1920px;
    margin: auto;
    padding: 2.4rem;
}

#brand-mobile img {
    height: 10rem;
    width: 10rem;
}


@media (min-width: 960px) {
    #brand img {
        height: 18rem;
        width: 18rem;
    }
}


@media (min-width: 960px) {
    #poster {
        width: 50vw;
        max-width: 550px;
    }
}

.nav {
    padding: 1.6rem;
    text-align: center;
}

@media (min-width: 960px) {
    .nav {
        max-height: 450px;
        height: 50vh;
        width: 50vh;
        max-width: 450px;
    }
}
/*  */

.nav a {
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: solid 1px red;
    display: inline-block;
    padding: 1.5rem 0;
}
/*
    Estilos formulario
*/
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 2.5rem;
}

.form-group input {
    width: 100%;
    border: solid 1px;
    padding: 0.5rem 1.6rem;
    margin: 1.6rem 0;
}

.form-group input[placeholder] {
    font-size: 1.8rem;
}

#email {
    opacity: 0;
}


/*
    Estilos Footer
*/

/* 
    Estilos Audio Player
*/
#controls {
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

@media (min-width: 768px) {
    #controls {
        max-width: 450px;
        width: 50vh;
        left: 61%;
        transform: translate(0, 0);
        cursor: pointer;
    }
}