---
import Layout from '../layouts/Layout.astro';
import Navegacion from '../components/Navegacion.astro';
---

<Layout title="A Fuego Directo">
	<main class="main main-home">
		<div class="contenedor-fixed">
			<div class="contenedor-centrado flex flex-col md:flex-row justify-between">
				<div class="col_left flex flex-col justify-center items-center">
					<div class="text-center block md:hidden" id="brand-mobile">
						<a href="/">
							<img src="fuego-directo-logo.png" alt="a fuego directo">
						</a>
					</div>
					<div class="mt-6 md:mt-0" id="poster">
						<img src="fuego-directo-poster-curso.jpg" alt="fuego directo poster curso">
					</div>
				</div>
				<div class="col_righ flex flex-col justify-center items-center">
					<div class="text-center hidden md:block" id="brand">
						<a href="/">
							<img src="fuego-directo-logo.png" alt="a fuego directo">
						</a>
					</div>
					<form class="flex flex-col bg-white rounded-3xl mt-7 nav" id="form">
						<div class="form-group flex flex-colum">
							<label for="nombre">Nombre</label>
							<input class="formInput" type="text" placeholder="Nombre" id="nombre" required>
						</div>
						<div class="form-group flex flex-colum">
							<label for="apellido">Apellido</label>
							<input class="formInput" type="text" placeholder="Apellido" id="apellido">
						</div>
						<div class="form-group flex flex-column">
							<label for="email">Correo electrónico</label>
							<input class="formInput" type="text" placeholder="correo@mail.com" id="mail" required>
						</div>
						<input class="bg-red-600 w-48 p-4 text-white md:cursor-pointer md:hover:bg-red-700 text-lg uppercase font-bold" type="submit" value="Registrarme" id="submit">
					</form>
					<a href="mailto:entutarge+fuegodirecto@gmail.com" id="email">mail</a>
				</div>
			</div>	
		</div>
	</main>
</Layout>

<style>

	.form-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.form-group label {
		font-size: 2.5rem;
	}

	.form-group input {
		width: 100%;
		border: solid 1px;
		padding: 0.5rem 1.6rem;
		margin: 1.6rem 0;
	}

	.form-group input[placeholder] {
		font-size: 1.8rem;
	}

	#email {
		opacity: 0;
	}
</style>

<script>

	// Formulario 
	const $form = document.getElementById('form')
	const $buttonMailto = document.getElementById('email') 

	$form.addEventListener('submit', handleEvent)

	function handleEvent(event) {
		event.preventDefault()
		const $submit = document.getElementById('submit')
		const form = new FormData(this)
		console.log(form.get('nombre'))
		$buttonMailto.setAttribute('href', `mailto:entutarget+fuegodirecto@gmail.com?subject=${form.get('nombre')}${form.get('apellido')}&body=${form.get('email')}`)
		$buttonMailto.click()
		$submit.addEventListener('click', function () {
			window.open('/a-fuego-directo-site/login')
		})
		
	}
	
</script>