---
import Layout from '../layouts/Layout.astro';
---

<Layout title="A Fuego Directo">
	<main class="main main-home">
		<div class="contenedor-fixed">
			<div class="contenedor-centrado flex flex-col md:flex-row justify-between">
				<div class="col_left flex flex-col justify-center items-center">
					<div class="text-center block md:hidden" id="brand-mobile">
						<a href="/">
							<img src="fuego-directo-logo.png" alt="a fuego directo">
						</a>
					</div>
					<div class="mt-6 md:mt-0" id="poster">
						<img src="fuego-directo-poster-curso.jpg" alt="fuego directo poster curso">
					</div>
				</div>
				<div class="col_righ flex flex-col justify-center items-center">
					<div class="text-center hidden md:block" id="brand">
						<a href="/">
							<img src="fuego-directo-logo.png" alt="a fuego directo">
						</a>
					</div>
					<nav class="flex flex-col bg-white rounded-3xl mt-7 nav" id="nav">
						<a href="#">Inicio</a>
						<a href="#">Quienes somos</a>
						<a href="#" id="promociones">Promociones</a>
						<a href="#" id="recetario">Recetario</a>
					</nav>
				</div>
			</div>	
		</div>
	</main>
</Layout>



