<div class="flex md:flex-row justify-center rounded-tl-2xl rounded-tr-2xl" id="controls">
    <div class="m-4 w-12" id="play">
        <img src="/site/play.svg" alt="">
    </div>
    <div class="m-4 w-12" id="pause">
        <img src="/site/pause.svg" alt="">
    </div>
    <div class="m-4 w-12" id="mute">
        <img src="/site/mute.svg" alt="">
    </div>
</div>
<!-- Controls -->
<audio id="audio"> 
    <source src="/site/country.ogg" type="audio/ogg">
    <source src="/site/country.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


<script>
    const audio = document.getElementById('audio'),
        play = document.getElementById('play'),
        pause = document.getElementById('pause'),
        mute = document.getElementById('mute'),
        song = new Audio('/site/country.mp3'),
        volume = document.getElementById('volume')
    

   
    audio.setAttribute('autoplay', '')
    audio.setAttribute('loop', '')


    

    play.addEventListener('click', function() {
        audio.play()
    })
    

    pause.addEventListener('click', function (){
        audio.pause()
    })

    mute.addEventListener('click', function (){
        audio.muted = true
    })

    


</script>